.footer-heading {
  @apply font-display font-semibold text-xl mb-2 text-white;
}

.footer-list {
  li {
    margin-bottom: theme('spacing[3.5]');
    &:last-child {
      margin-bottom: 0;
    }
  }
}
.footer-link {
  &:hover {
    color: theme('colors.gray.100');
    transition: color 0.1s linear;
  }
}
